<app-player class="player-position" [ngStyle]="{'top.px': 100 + (i*90)}" *ngFor="let player of game.players; let i = index;" [name]="player" [playerActive]="i == game.currentPlayer"></app-player>

<div class="field">
    <div class="card-stack">
        <!-- card deck -->
        <img [ngStyle]="{'right.px': i*10}" *ngFor="let c of [0,1,2,3], let i = index;"
            src="assets/img/cards/card_cover.png">
        
        <img (click)="takeCard()" style="right: 50px" src="assets/img/cards/card_cover.png" class="top-card">
        <!-- 5*10 5 Karten, die alle 10px abstand haben -->
        
        <!-- stack of played cards -->
        <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="played-card" style="right: 50px">
        
        <!-- animation of current card -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" style="right: 50px" src="assets/img/cards/{{ game.currentCard }}.png" class="pick-card">
    </div>
</div>

<button mat-fab color="warn" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<app-game-info [card]="game.currentCard" class="game-info"></app-game-info>